@page "/tasks/{listId:long}"
@using Todo_Blazor.Services.TaskList
@using Todo_Blazor.Services.TaskList.ViewModels
@inject TaskListService service
<PageTitle>@title</PageTitle>

<div>
    @if (Result?.Tasks != null)
    {
        <div>
            @foreach (var item in Result.Tasks)
            {
                <div class="mb-2 input-group" @key="@item.TaskId">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="radio" value="">
                    </div>
                    <span type="text" class="form-control">@item.Title</span>
                </div>
            }
        </div>
    }
</div>

@code {
    string title="page title";
    [Parameter]
    public long ListId { get; set; }
    public GetTaskResult Result { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        Result = await service.GetTasksAsync(ListId);
    }
}
